<% i||= 1 %>
<div id="tweet_<%= tweet.id %>" class="tweet <%= odd_or_even(i) %>">
  <p class="content"><%= tweet.content %></p>
  <div class="user_and_moment">
    <span class="user">
      <%= t(:by) %> <%= tweet.user.name %>
    </span>
    <span class="moment">
      <%= t(:ago, :distance => distance_of_time_in_words(tweet.created_at, Time.now))%>
    </span>
  </div>
</div>
